// Global defaults params
params {
    // S3 bucket paths
    bucket_working_10x_multiome = "s3://nucleome.working.pri/10x_multiome/"
    bucket_final_10x_multiome = "s3://nucleome.final.2024/10x_multiome/"
    publish_dir = "final"

    // Unique pipeline run name
    run_id = null

}

// Load plugins
plugins {
  id "nf-prov@1.2.3"        // Provenance reports for pipeline runs
}

// Set 'nf-prov' plugin results files output directory
prov {
    enabled = true
    formats {
        bco {
            file = params.publish_dir == "final" ? "${params.bucket_final_10x_multiome}${params.run_id}/pipeline_info/${params.run_id}_manifest_bco.json" : "${params.bucket_working_10x_multiome}${params.run_id}/pipeline_info/${params.run_id}_manifest_bco.json"
            overwrite = true
        }
        dag {
            file = params.publish_dir == "final" ? "${params.bucket_final_10x_multiome}${params.run_id}/pipeline_info/${params.run_id}_manifest.html" : "${params.bucket_working_10x_multiome}${params.run_id}/pipeline_info/${params.run_id}_manifest_dag.html"
            overwrite = true
        }
        legacy {
            file = params.publish_dir == "final" ? "${params.bucket_final_10x_multiome}${params.run_id}/pipeline_info/${params.run_id}_manifest.json" : "${params.bucket_working_10x_multiome}${params.run_id}/pipeline_info/${params.run_id}_manifest.json"
            overwrite = true
        }
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
// Export pipeline Nextflow logs and reports
timeline {
    enabled = true
    file    = params.publish_dir == "final" ? "${params.bucket_final_10x_multiome}${params.run_id}/pipeline_info/execution_timeline_${trace_timestamp}.html" : "${params.bucket_working_10x_multiome}${params.run_id}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = params.publish_dir == "final" ? "${params.bucket_final_10x_multiome}${params.run_id}/pipeline_info/execution_report_${trace_timestamp}.html" : "${params.bucket_working_10x_multiome}${params.run_id}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file    = params.publish_dir == "final" ? "${params.bucket_final_10x_multiome}${params.run_id}/pipeline_info/execution_trace_${trace_timestamp}.txt" : "${params.bucket_working_10x_multiome}${params.run_id}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = params.publish_dir == "final" ? "${params.bucket_final_10x_multiome}${params.run_id}/pipeline_info/pipeline_dag_${trace_timestamp}.html" : "${params.bucket_working_10x_multiome}${params.run_id}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

