/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-cfmedip Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Input options
    input                       = null
    seq_center                  = null
    fragment_size               = 100
    fingerprint_bins            = 500000
    read_length                 = 100

    // References
    genome                      = "GRCh38"
    igenomes_base               = 's3://adela-reference-files/igenomes_clone_20230130'
    igenomes_ignore             = false
    save_reference              = false
    spikein_fasta               = 's3://adela-reference-files/Spike-ins_Lot_TO-S001.fa'

    // Options: Trimming
    skip_trimming               = false
    save_trimmed                = false
    adapter_sequence_r1         = "AATGATACGGCGACCACCGAGATCTACACATATGCGCACACTCTTTCCCTACACGAC"
    adapter_sequence_r2         = "CAAGCAGAAGACGGCATACGAGATACGATCAGGTGACTGGAGTTCAGACGTGT"
    average_qual_filter         = 30
    umi_len                     = 5
    umi_in_index                = false
    skip_viral_identification   = false
    viral_kmer_fasta            = 's3://adela-reference-files/viral_reference/viral.kc.fasta'
    save_viral_on_target        = false

    // Options: Alignment
    aligner                     = "bowtie2"
    keep_mito                   = false
    keep_multi_map              = false
    skip_merge_replicates       = false
    save_align_intermeds        = false
    save_unaligned              = false
    umi_dedup                   = false
    umi_dedup_discard_unpaired  = true
    umi_dedup_discard_chimeric  = true
    umi_dedup_stats             = true
    skip_coverage_files         = false

    // Options: Peaks
    skip_peak_calling           = false
    narrow_peak                 = false
    broad_cutoff                = 0.1
    macs_fdr                    = 0.01
    macs_pvalue                 = null
    save_macs_pileup            = false
    skip_peak_annotation        = false
    homer_args                  = "-cons -CpG"
    homer_gene_ontology         = false

    // Options: Prediciton models
    skip_prediction_model            = false
    prediction_model                 = "snr"  // "snr" or "poisson"
    prediction_threshold             = 0.541566
    prediction_cancer_dmrs           = "s3://adela-reference-files/feature_sets/ed001_control_blood_quiet_rois_refined_33k_rm_ebs_hi_28396_v0.csv.gz"
    prediction_background_dmrs       = "s3://adela-reference-files/feature_sets/ed001_hn_ctl_cs_similar_3165_v0.csv.gz"
    prediction_cancer_weights_column = null
    poisson_lambda_baseline          = 0.0
    poisson_lambda_cancer            = 0.0
    poisson_noise_offset             = 0.0
    poisson_noise_coefficient        = 0.0
    poisson_logistic_intercept       = 0.0
    poisson_logistic_rate            = 0.0

    // Options: TFEA
    skip_tfea                   = true
    tfea_filter_strs            = null
    tfea_feature_sets           = "mumerge_peaks_intersect_gruca_1000bp_enhancers"
    tfea_controls_basedir       = "s3://oap-research-ue1-dev-research-working/tfea_controls_unnormalized"
    tfea_controls               = 'TO21-AA233-0P11E1N1,TO21-AA663-0P11E1N1,TO21-AA939-0P11E1N1,TO21-AA913-0P11E1N1,TO21-AA975-0P11E1N1,TO21-AA103-0P11E1N1,TO21-AA518-0P11E1N1,TO21-AB989-0P11E1N1,TO21-AA601-0P11E1N1,TO21-AA204-0P11E1N1,TO21-AA744-0P11E1N1,TO21-AA503-0P11E1N1,TO21-AB731-0P11E1N1,TO21-AA347-0P11E1N1,TO21-AA449-0P11E1N1,TO21-AA302-0P11E1N1,TO21-AA237-0P11E1N1,TO21-AA580-0P11E1N1,TO21-AA694-0P11E1N1,TO21-AB496-0P11E1N1,TO21-AA052-0P11E1N1,TO21-AA042-0P11E1N1,TO21-AB033-0P11E1N1,TO21-AA542-0P11E1N1,TO21-AA600-0P11E1N1,TO21-AA652-0P11E1N1,TO21-AB110-0P11E1N1,TO21-AA789-0P11E1N1,TO21-AA957-0P11E1N1'
    tfea_controls_suffix        = ".dd.clN.unscaled.bedGraph"
    fimo_motifs_basedir         = "s3://adela-reference-files/motifs/meme"
    fimo_motifs                 = "best_curated_Human.meme"
    tfea_mdd_pval               = 0.2

    // Options: Motif Displacement Analysis
    motif_beds                  = 's3://adela-reference-files/motifs/hocomoco_v11_hg38_p1e-6/'

    // Options: QC
    skip_qc                     = false
    skip_picard_metrics         = false
    skip_preseq                 = false
    skip_plot_fingerprint       = false
    preseq_extrapolation_step   = 10000000
    preseq_max_extrapolation    = 1000000000
    // the qc_flat elt looks for this specific frip score. if you change this make sure to update the ELT
    frip_feature_sets           = "s3://adela-reference-files/feature_sets/ed001_control_blood_quiet_regions_v0.csv.gz"

    // Options: contamination
    skip_contamination          = false
    no_intervals                = false  // build intervals from fasta file instead of input interval file
    nucleotides_per_second      = 200000  // Default interval size
    xcontam_max_af              = 0.2
    xcontam_min_af              = 0.01
    xcontam_mmq                 = 0

    // Options: Config
    bamtools_filter_pe_config   = "$projectDir/assets/bamtools_filter_pe.json"
    bamtools_filter_se_config   = "$projectDir/assets/bamtools_filter_se.json"

    // Boilerplate options
    output_root                 = null
    output_subdir               = null
    publish_dir_mode            = 'copy'
    monochrome_logs             = false
    help                        = false
    validate_params             = true
    schema_filename             = "nextflow_schema.json"
    show_hidden_params          = false

    schema_ignore_params        = 'schema_filename'

    // Config options
    custom_config_version       = 'a925ea6e389fd3fa28ae98b4cc264bceb32b6036'
    custom_config_base          = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description  = null
    config_profile_contact      = null
    config_profile_url          = null
    config_profile_name         = null

    // Max resource options
    max_memory                  = '1024.GB'
    max_cpus                    = 128
    max_time                    = '240.h'

    // Read counting options
    protected_regions_bed = "s3://adela-reference-files/protected_regions/gse71378_ch01_lifted_sorted_v2.bed"
    // WARNING: if you change the below two params you must update the e2e test here:
    // https://gitlab.com/adelabio/ops/terraform-live-oap-ss15/-/blob/main/src/check_status.py
    feature_sets = "s3://adela-reference-files/feature_sets/union_for_counts_v1.csv.gz"
    counts_filters = [
        [:],  // no filters case
        [
            min_cpgs: 5,
            max_insert_size: 150
        ],
        [
            min_cpgs: 10,
            max_insert_size: 150
        ],
        [
            min_cpgs: 1,
            max_insert_size: 150
        ],
        [
            aberrant_only: 1,
            min_insert_size: 50,
            max_insert_size: 150,
            min_gc_content_fragment: 50.0
        ],
        [
            min_insert_size: 50,
            max_insert_size: 150,
            min_gc_content_fragment: 50.0
        ],
        [
            min_cpgs: 2,
            min_insert_size: 40,
            max_insert_size: 150,
            min_mapq: 20,
            frac_overlap: 0.5
        ]
    ]

    // options for qc summary report
    // Each entry results in an entry in the qc summary report, and its value is the
    // pass/fail threshold for that metric.
    // Metrics must be supported by bin/generate_qc_summary.py script to be used here.
    // Nextflow defaults to a deep merge of parameters defined with those passed in via -params-file
    // which means you can never remove an entry from map-type parameter. Instead we define an empty map
    // here, and any value must be set in tower (see deploy_tower.yml) or by the caller
    qc_summary_config = [:]
}

// Load base.config by default for all pipelines
includeConfig 'base.config'

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'igenomes.config'
} else {
    params.genomes = [:]
}

// post processing of params
includeConfig 'post_processing.config'

// Load modules.config for DSL2 module specific options
includeConfig 'modules_shared.config'
includeConfig 'modules_ap15.config'
